
*{
    padding: 0;
    margin: 0;
    background-color: #000000;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100%;
    background-color: #000000;
}

.navbar{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#link{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.logo{
    margin-left: 2rem;
    color: #FFF;
    font-family: "Sahitya", serif;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: #FFF;
    font-family: "Poppins", serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 2rem;
}

a:hover{
    color: #CC365A;
}

.desc{
    padding-top: 5%;
    padding-left: 5%;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Prociono", serif;
    font-size: 5rem;
    max-height: min-content;
}

#name{
    color: #CC365A;
    font-family: "Prociono", serif;
}

.desc-con{
    max-width: 40%;
}

#content{
    color: #E5E5E5;
    font-family: "Alegreya Sans", serif;
    font-size: 1.5rem;
}

#img-con{
     position: relative;
    width: 35rem;
    height: 35rem;
    top: -5em;
    left: 47rem;
}

#resume{
    width: 9.75rem;
    height: 2.9375rem;
    border-radius: 5.25rem;
    border: 4px solid #CC365A;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: relative;
    top:-12rem;
    left: -36rem;
}

#btn-con{
    color: #CC365A;
    font-family: "Alegreya Sans", serif;
    font-size: 1rem;
    position: relative;
    top: -4.25rem;
    left: 0.75em;
}


#btn-down{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    position: relative;
    top: -3.5rem;
    background: transparent;
}

#btn-down svg {
    stroke: #CC365A;
}

#resume:hover{
    background-color: #CC365A; 
}

#resume:hover #btn-con {
    color: black;
    background-color: #CC365A;
    font-weight: 500;
    position: relative;
    left: 25px;
}

#resume:hover #btn-down svg {
   display: none;
}

.about{
    margin-top: -28rem;
}

.box{
    margin: 5.5rem;
    width: 72rem;
    height: 37rem;
    background-color: #F8EDEB;
    border: 5px solid;
    border-color: #CC365A;
    position: relative;
}

#img-about {
    width: 25.58163rem;
    height: 29rem;
    overflow: hidden; 
    border-radius: 1.25rem;
    background: url(img-about.jpg) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: relative;
    top:4rem;
    left: 4rem;
    bottom: 4rem;
}

#about-txt{
    color: #000;
    font-family: "Alatsi", serif;
    font-size: 2.5rem;
    position: absolute;
    top: 4rem;
    left: 31rem;
    background-color: #F8EDEB;
}

#about-msg{
    color: #000;
    font-family: "Prociono", serif;
    font-size: 3.75rem;
    position: absolute;
    top: 8rem;
    left: 31rem;
    background-color: #F8EDEB;
}

#name-msg{
    background-color: #F8EDEB;
    color: #CC365A;
}

#about-para{
    width: 40rem;
    color: #000;
    font-family: "Alegreya Sans", serif;
    font-size: 1.875rem;
    position: absolute;
    top: 14rem;
    left: 31rem;
    background-color: #F8EDEB;
}

#account{
    width: 10.9375rem;
    height: 2.375rem;
    margin-top: 1rem;
    border-radius: 6.25rem;
    border: 4px solid #CC365A;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: relative;
    top: -1.5rem;
    left: 31.5rem;
    background-color: #F8EDEB;
}

#btn-con-act{
    color: #CC365A;
    font-family: "Alegreya Sans", serif;
    font-size: 1.2rem;
    position: relative;
    background-color:  #F8EDEB;
    font-weight: 500;
}

#btn-go{
    display: inline-flex;
    align-items: center;
    width: 10px;
    justify-content: center;
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
    background-color: #F8EDEB;
}

#btn-go svg {
    background-color: #F8EDEB; 
    border-radius: 5px;
}

#account:hover {
    background-color: #CC365A;
    border: 4px solid black;
}

#account:hover #btn-con-act {
    color: black;
    background-color: #CC365A;
    margin-left: 20px;
}

#account:hover #btn-go svg {
   display: none;
}

.skills{ 
    position: relative;
    top: -5.5rem;
}

#skill-head{
    color: #FFF;
    font-family: "Prociono", serif;
    font-size: 3rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

 #carouselExampleCaptions {
    margin: auto;
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    width: 100%;
}

.carousel-control-next{
    margin-left: 20px;
    padding-left: 15rem;
    color: #CC365A;
    font-size: 2rem;
}

.carousel-control-prev{
    padding-right: 15rem;
    color: #CC365A;
    font-size: 2rem;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    font-size: 2rem; 
    color: #CC365A;
    background: transparent;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: -3rem; 
}

.carousel-control-next {
    right: -3rem; 
}


.carousel-item .card {
    height: 20em;
    height: fit-content;
    border-color: #CC365A;
    border-radius: 2%;
    border-width: 3px;
    z-index: 2;
}

.card-text{
    max-width: 200px;
    text-align: center;
    position: relative;
    left: 4rem;
    color: #FFF;
    font-family: "Alegreya Sans", serif;
    font-weight: 400;
    font-size: 1.5rem;
}



