@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marck+Script&family=Poetsen+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

}
.blog-card{
    width: 302px;
    padding: 10px;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid var(--Secondary-100, #E8E8EA);
    background: var(--White, #FFF);
    height: 300px;
    
}




img{
    width: 302px;
    height: 170px;
    border-radius: 6px;
}

.cat{
   background-color: #4B6BFB0D;
   width: fit-content;
   border-radius: 6px;
   color: var(--Theme-1-Primary, #4B6BFB);
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    margin-top: 2px;
}

.blog-card h2 {
    min-height: 48px; 
    font-size: 22px;
    margin: 8px 0;
    line-height: 1.3;
    align-self: stretch;
    color: var(--Secondary-800, #181A2A);
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    margin-top: 10px;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 70%;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title{
    align-self: stretch;
    color: var(--Secondary-800, #181A2A);
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    margin-top: 10px;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  color: #555;
  margin-top: 15px;
  color: var(--Secondary-400, #97989F);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    align-items: center;
}

.author {
  text-align: left;
  white-space: nowrap;
}

.date {
  text-align: right;
  white-space: nowrap;
}

.blog-card:hover{
  background-color: #F4F4F5;
  color: #FFF;
}



